.titulo {
    font-size: 2rem;
    color: red;
}

.titulo-dos {
    font-size: 1.2rem;
    color: green;
}

.box {
    display: flex;
}

.lista {
    list-style-type: none;
}

.lista-item {
    color: yellow;
}

.link {
    padding: 1rem 2rem;
}